body{
    font-family: Arial, Helvetica, sans-serif, 微軟正黑體;
    background-color: #000;

}

header{
    width: 100%;
    height: 90px;
    background-color: #101010;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoBox{
    padding: 20px 20px;
}



.list{
    position: relative;
    display: flex;

}
.list li{
    padding: 0 20px;

}
.list li a{
   text-decoration: none;
   color: white;
}
li a:hover:after{
	content: " ";
	position: absolute;
	width: 100%;
	height: 2px;
	background: #ee4036;
	left: 0;
	bottom: -10px;
}


.banner{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    font-size: 0;
    display: flex;
    
}
div.bannerImgBox{
    width: 50%;
}
div.bannerImgBox img{
    width: 100%;
}

div.bannerTextBox{
    display: inline-block;
    width: 50%;
    background-color: #000;
    
}

div.bannerTextBox h1{
    font-size: 80px;
    color: white;
    display: table;
    margin: auto;
    margin-top: 10%;
}
div.bannerTextBox p{
    display: table;
    color: red;
    font-size: 16px;
    padding: 10px 0 10px 5px;
    letter-spacing: 10px;
    margin: auto;
}
div.bannerTextBox span{
    display: inline-block;
    margin-top: 50px;
}

div.bannerTextBox span a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border: 2px solid white;
}
div.bannerTextBox span a:hover{
  background-color: #690;
  transition-duration: 0.5s;
}
