body {
    font-family: Arial, Helvetica, sans-serif, 微軟正黑體;
    background-color: #000;
}

header {
    width: 100%;
    height: 90px;
    background-color: #101010;
 

    .header {
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        .cover{
            position: absolute;
            z-index: 5;
            height: 90px;
            width: 100%;
            border: 1px solid #fff;
            background-color: #101010;

        }
        .logoBox {
            padding: 20px 20px;
            position: relative;
            z-index: 10;
        }
        .menuBtn {
            width: 90px;
            height: 90px;
            display: none;
            align-items: center;
            justify-content: center;
            background-color: #630;
            cursor: pointer;
            img {
                width: 45px;
                height: 45px;
            }
        }
        .list {
            position: relative;
            display: flex;
            z-index: 4;
            li {
                padding: 0 10px;
                a {
                    position: relative;
                    text-decoration: none;
                    color: white;
                    padding: 0 0 5px 0;
                }
                a::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 0;
                    height: 3px;
                    background-color: #ee4036;
                    left: 50%;
                    transition: all 0.3s linear;
                }
                a:hover::before {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
    @media (max-width: 992px) {
        .header {
            // z-index: 100;
            position: relative;
            // top: 0;
            .list {
                z-index: 1;
                // display: none;
                position: absolute;
                width: 100%;
                top: -100%;
                left: 0;
                // padding: 15px 0;
                background-color: rgba(0, 0, 0, 0.9);

                li {
                    padding: 0;
                    a {
                        padding: 14px 24px;
                        display: block;
                        position: relative;
                    }
                            a::after {
                                content: "";
                                position: absolute;
                                border-top: 6px solid transparent;
                                border-left: 8px solid #fff;
                                border-right: 8px solid transparent;
                                border-bottom: 6px solid transparent;
                                top: 15px;
                                right: 10px;
                            }
                            a::before{
                                transition: none;
                            }
                    a:hover{
                        background-color: #ed1c24;
                    }
                }
            }
            .list.none{
                display: block;
                top: 100%;
                transition: all .5s linear;

            }
            .menuBtn {
                display: flex;
                position: absolute;
                z-index: 9;
                right: 0;
            }

        }
    }
}

.banner {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    font-size: 0;
    display: flex;
    .bannerImgBox {
        width: 50%;
        img {
            width: 100%;
        }
    }
    @media (max-width: 992px) {
        .bannerImgBox {
            width: 100%;
        }
    }
    .bannerTextBox {
        display: inline-flex;
        flex-direction: column;
        width: 50%;
        background-color: #000;
        h1 {
            font-size: 80px;
            color: white;
            display: table;
            margin-top: 10%;
        }
        p {
            display: table;
            color: red;
            font-size: 16px;
            padding: 10px 0 10px 5px;
            letter-spacing: 10px;
        }
        span {
            margin-top: 10%;
            a {
                font-size: 14px;
                color: white;
                text-decoration: none;
                padding: 15px 30px;
                border: 2px solid white;
            }
            a:hover {
                background-color: #690;
                transition-duration: 0.5s;
            }
        }
        @media (max-width: 992px) {
            span {
                margin: 50px 0;
            }
        }
        @media (max-width: 576px) {
            h1 {
                font-size: 60px;
            }
            p {
                letter-spacing: 7px;
            }
        }
    }
    @media (max-width: 992px) {
        .bannerTextBox {
            width: 100%;
            align-items: center;
        }
    }
}
@media (max-width: 992px) {
    .banner {
        display: block;
    }
}
main {
    background-color: #fff;
    padding: 50px;

    .content {
        font-size: 0;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        .contentImgBox {
            width: 100%;
            display: flex;
            img {
                width: 49%;
                height: 100%;
            }
            img:nth-child(1) {
                margin-right: 2%;
            }
        }
        @media (max-width: 768px) {
            .contentImgBox {
                display: block;
                img {
                    width: 100%;
                }
                img:nth-child(1) {
                    margin-right: 0;
                    margin-bottom: 2%;
                }
            }
        }

        .contentBtnBox {
            margin: 50px 0;
            span {
                height: 100%;
                a {
                    display: inline-block;
                    font-size: 14px;
                    text-decoration: none;
                    color: black;
                    border: 1px solid #000;
                    padding: 12px;
                    border-right: 0px;
                    height: 14px;
                }
                a:hover {
                    background-color: black;
                    color: white;
                    transition-duration: 0.5s;
                }
                @media (max-width: 576px) {
                    a {
                        width: 150px;
                        border: 1px solid #000;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
            }
            :last-child a {
                border-right: 1px solid #000;
            }
        }

        @media (max-width: 576px) {
            .contentBtnBox {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .itemBox {
            display: flex;
            justify-content: space-around;
            .itemCard {
                width: 23%;
                .itemCardImgBox {
                    img {
                        width: 100%;
                    }
                }
                .itemCardContentBox {
                    h2 {
                        font-size: 16px;
                        font-weight: bold;
                        padding: 10px 0;
                    }
                    h2::after {
                        content: "";
                        display: block;
                        width: 35px;
                        height: 5px;
                        margin-top: 8px;
                        background: #f05357;
                    }
                    p {
                        font-size: 14px;
                        color: #666;
                        line-height: 1.5;
                    }
                    div {
                        padding: 10px 0;
                        span {
                            font-size: 20px;
                        }
                        span::before {
                            content: "€";
                            padding-right: 5px;
                        }
                    }
                }
            }
        }

        @media (max-width: 768px) {
            .itemBox {
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 20px;

                .itemCard {
                    width: 100%;
                }
            }
        }
    }
}

footer {
    width: 100%;
    max-width: 1100px;
    font-size: 0;
    margin: auto;
    .iconBox {
        display: flex;
        justify-content: center;
        transform: translateY(-25px);
        a {
            margin: 0 10px 0 0;
        }
        a:last-child {
            margin: 0;
        }
    }
    .footerContenBox {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        div {
            display: inline-block;
            vertical-align: top;
            margin: 0 70px 0 0;
            h2 {
                font-size: 16px;
                color: white;
                padding: 10px 0;
                position: relative;
            }
            h2::after {
                content: "";
                display: block;
                position: absolute;
                width: 35px;
                height: 2px;
                margin-top: 8px;
                background: #f05357;
            }
            a {
                text-decoration: none;
                p {
                    font-size: 14px;
                    color: #666;
                    padding: 8px 0;
                }
            }
        }
    }
    @media (max-width: 768px) {
        .footerContenBox {
            display: block;
            div {
                display: block;
                margin: 0;
                text-align: center;
                h2 {
                    display: inline-block;
                }
            }
        }
    }
    .btnBox {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        div {
            p {
                font-weight: bold;
                text-align: center;
                font-size: 16px;
                color: white;
                padding: 10px 0;
            }
            input {
                background-color: transparent;
                padding: 10px;
                border: 1px solid #999;
                border-right: 0;
            }
            ::-webkit-input-placeholder {
                color: #999;
            }
            input::-moz-placeholder {
                color: #999;
            }
            input:-moz-placeholder {
                color: #999;
            }
            button {
                padding: 10px;
                color: #666;
                border: 1px solid #999;
            }
        }
    }
}
